* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
#LoadingPercent {
  position: fixed;
  color: white;
  width: 50%;
  margin: 10px 10px 10px 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
}
